<h1>登録ユーザー一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>ユーザー</th>
    <th>アクション</th>
  </tr>

<% @user.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>　</td>
  </tr>
<% end %>
</table>