<h1>登録ユーザー一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>ユーザー</th>
    <th>アクション</th>
  </tr>

<% @user.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to "編集", edit_user_path(user.id) %>　<%= link_to '削除', user_path(user.id), method: :delete ,data: { confirm: '削除しますか？' } %></td>
  </tr>
<% end %>
</table>