<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>


<h1>お気に入りの投稿</h1>
    <% @favorites_slogans.each do |slogan| %>
    <p><%= slogan.slogan_text %></p>
    <%= link_to 'お気に入り変更', slogan_path(slogan.id), class: 'btn btn-default' %>
<% end %>