<div class="main clearfix">
  <article class="content">
    <section>
      <h1>概要</h1>

      <p>仕事をしていると、『ハラスメントやコンプライアンスの標語を提出しなさい。必須で○個！』<br>
      というパワーハラスメントを受けた経験は無いでしょうか。<br>
      その度に、googleでそれっぽい検索をして、それっぽく弄った文章を出す――なんて苦労をしている方も居る筈です。<br>
      <br>
      この『標語自動生成』は、そんな方の悩みを解決する為のソリューションです。<br>
      何と、それっぽい文章を登録しておけば、それっぽい標語が自動生成されちゃいます。<br>
      先ずは画面上部の『標語生成』から、標語の自動生成を確認してみて試してみて下さい。<br>
      <br>
      尚、サインアップしていれば、<s>笑える</s>使える標語が出来た際に、サイトに登録して共有する事が可能です。
      </p>

      <h1>早い話が</h1>
      
      <p>■兎に角標語を自動で生成したい　→　<%= link_to '標語生成', new_slogan_path %></p>
      <p>■標語を登録したり、標語の構成文章を登録したい　→　Let's 
      <% if logged_in? %>
        <%= link_to '構成文章の生成', sentence1s_path %>
      <% else %>
        <%= link_to 'サインアップ', new_user_path %> or <%= link_to 'ログイン', new_session_path %>！
      <% end %>
      </p>

    </section>
  </article>
</div>